//edit()
bp = 990px

html
    ::selection
        background #d04c3f
        color #fff
body
	background #e9d8ba
     
h1
    text-align center
    
header
	background #b96948
	text-align center
	padding 40px 0
	
// section.text
	