//edit()
bp = 990px

html
    ::selection
        background #d04c3f
        color #fff
body
	min-height 100%
	position relative
	padding-bottom 90px
	background #f8f4ec url('/img/beige-bg.jpg') repeat
	font-family 'Raleway', Helvetica, sans-serif
	
.content
	center(900px)
	+below(bp)
		center(90%)
	
.center
	text-align center

header
	background #b96948
	border-top solid 10px #5d4e48
	padding 20px
	+below(bp)
		border-top solid 20px #5d4e48
	form
		stack()
		margin 15px 0

	input[type="search"]
		background #fff
		font-family Helvetica, Arial, sans-serif
		color #555
		letter-spacing 2px
		outline none
		border none
		border-box()
		border-radius(5px)
		width 40%
		font-size 24px
		padding 7px 20px
		+below(bp)
			width 80%
			font-size 3em
			padding 20px
		+placeholder()
			font-weight 100
			color #ccc
	input[type="button"]
		background #D7B883
		color #5d4e48
		position relative
		left -7px
		font-size 24px
		padding 6px 20px 7px 20px
		border none
		outline none
		+below(bp)
			font-size 3em
			padding 20px
			left -6

	.logo
		center(30%)
		+below(bp)
			center(80%)
			margin-bottom 30px
		img
			col(3/12)
			padding-top 12px
			height 50px
			+below(bp)
				height 130px
				
		h1
			col(9/12)
			display inline-block
			color #fff
			padding 0
			font-size 2em
			+below(bp)
				font-size 4em
section
	h2.title
		text-align center
	.text
		margin-top 20px
		color #5a5a5a
		font-size 22px
		line-height 35px
		p::first-letter
			font-size 65px
			color #9b0202

.pulse
	position absolute
	top -2
	right -25px
	-webkit-animation pulse .8s alternate linear infinite
	+below(bp)
		display none
		position relative

footer
	background #3c3c3c
	position fixed
	bottom 0
	right 0
	left 0
	padding 1rem
	height 50px
	font-size 16px
	+below(bp)
		position relative
		font-size 28px
		padding 50px 0
		margin-bottom -90px
footer > div
	align(both)
	color #fff