//edit()
bp = 990px

html
    ::selection
        background #d04c3f
        color #fff
body
	background rgba(149,165,166,0.4)
	color #404d5b
	font-family 'Raleway', Helvetica, sans-serif
	font-size 16px
	font-weight 300
	letter-spacing 8px
     
h1
    text-align center
    
header
	background #b96948
	text-align center
	padding-top 50px
	padding-bottom 20px
	p
		color #e9d8ba
		font-size 1.3em
		font-family 'Raleway'
		+below(bp)
			font-size 1.3em
	form
		label
			center(700px)
			+below(bp)
				center(90%)
		input[type="search"]
			font-size 2em
			color #fff
			background none
			outline none
			border none
			border-bottom 1px solid rgba(0,0,0,.2)
			margin 0
			padding 8px 0
			col(9/12)
			+below(bp)
				stack()
				margin-top 20px
				font-size 4em
			&:focus
				cursor text
			&:focus:hover
				border-bottom 1px solid #bbb
		input[type="button"]
			margin 0
			float right
			outline none
			border none
			background #e9d8ba
			font-size 1.3em
			padding 8px 10px
			col(3/12)
			+below(bp)
				margin 30px 0
				padding 30px 0
				font-size 3em
				stack()

section.text
	padding 1em
	font-size 2em
	line-height 1.518
	font-weight 300
	center(900px)
	+below(bp)
		center(90%)
		padding 0
		margin-top 30px
		font-size 1.5em
	